.container{
    width: 70%;
    text-align: center;
    margin: auto;
}


.abc{
   
    display: inline-block;
    text-align: center;
    
}

body{
background-color: #232323;

}

h1{
margin: 60px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, cursive;
text-shadow: 1px 0 #232323;
font-size: 8rem;
color: aquamarine;
}

h3{
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;
    font-size: 6rem;
    color: darkkhaki;
}

p{
margin: auto;
font-family: Verdana, Geneva, Tahoma, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif , cursive;
font-size: 2rem;
color: blueviolet;
}

img{
    width: 80%;
    
}